.mp-container{
    width: 70%;
    margin: auto;
}

.post-container{
    display: flex;
    border-radius: 10px;
    background: green;
}
.post-box{
    padding: 10px;
    width: 50%;
}
.post-image{
    width: 50%;
    padding: 10px;
}
.post-image img{
    width: 100%;
    height: 100%;
}
.post-title{
    font-size: 36px;
    color: white;
}
.post-desc{
    color: white;
    font-size: 14px;
}
.btn-post-group{
    display: flex;
    gap: 20px;
}
.btn-post-group .btn-talent{
    padding: 7px 20px;
    border: none;
    border-radius: 50px;
    background: white;
    cursor: pointer;
}

.btn-post-group .btn-work{
    padding: 7px 20px;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    border-color: white;
    cursor: pointer;
}

/* colleagues */

.colleagues{
    width: 70%;
    margin: auto;
    padding: 10px;
    display: flex;
}

.best-coll{
    width: 50%;
}
.coll-title{
    font-size: 26px;
}
.coll-desc{
    font-size: 12px;
}
.list-coll{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.list-coll-item{
    display: flex;
    gap: 5px;
    align-items: center;
}

.coll-raiting{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.coll-rating-fr{
    width: 150px;
    border-top: 1px solid grey;
    height: 200px;
}
.coll-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 20px;
}
.coll-icon h6{
    font-size: 20px;
}
.coll-skills{
    width: 150px;
    border-top: 1px solid grey;
    height: 200px;
}
.coll-skills-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 20px;
}
.coll-skills h6{
    font-size: 20px;
    height: 20px;
}

.coll-raiting p{
    font-size: 12px;
}

/* post-job */

.post-job{
    display: flex;
    margin-bottom: 20px;

}
.post-job-img{
    width: 50%;
}
.post-job-cont{
    width: 50%;
    padding: 40px;
}

.post-job-title {
    font-size: 24px ;
    color: green;
}
.post-job-cont p{
    font-size: 12px;
}
.post-job-security{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}
.post-job-security img{
    width: 20px;
}
.post-job-security h6{
    margin: 0;
}

.post-job-security p{
    margin: 0;
    font-size: 12px;
}

.btn-post-job{
    padding: 7px 15px;
    border-radius: 50px;
    border: none;
    background-color: green;
    color: white;
    font-size: 12px;
}

/* Companies */

.companies-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}
.comp-logo{
    display: flex;
    gap: 20px;
    justify-content: center;
    border-bottom: 1px solid grey;
}

.articles{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0px 20px;
}

.article-item{
    padding: 5px;
    cursor: pointer;
}
.art-title{
    font-size: 14px;
    font-weight: bold;
}
.art-link{
    display: flex;
    align-items: center;
}

.art-link a{
    font-size: 12px;
}

.article-item:hover{
    background-color: rgb(178, 176, 207);
    transition: all 0.5s ease;
}

/* What you get */

.what-u-get{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}
.whu-get{
    display: flex;
    gap: 30px;
    border-bottom: 1px solid rgb(194, 194, 194);
    height: 160px;
}
.whu-images{
    display: flex;
    flex-direction: column;
    width: 100px;
}
.whu-images img {
    width: 100%;
    height: 100%;
}
.whu-get li{
    font-size: 12px;
}

/* Talent Strategy */

.talent-strategy{
    display: flex;
    background-color: royalblue;
    border-radius: 10px;
    margin-bottom: 40px;
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
}
.strategy-card{
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}
.strategy-card img{
    width: 220px;
    height: 100px;
}
.str-items{
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 20px;
    padding: 0px 10px;
}
.str-items-star{
    display: flex;
    align-items: center;
}

.str-user{
    position: absolute;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 0 5px;
    background-color: white;
    border-radius: 20px;
}
.str-user img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 2px 0;
}
.str-user p{
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.active-dot{
    width: 5px;
    height: 5px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 16px;
    left: 18px;
    border: 1px solid white;
}

.str-browse-items{
    width: 100%;
}
.str-browse-items h1{
    color: white;
    font-size: 20px;
    margin-bottom:80px;
}

.str-browse{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.str-browse p{
    color: white;
    font-size: 12px;
}

.str-browse button{
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 10px;
    margin-right: 20px;
    border: none;
}